<!DOCTYPE html>
<html ng-app="Kadepot">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="master.css" media="screen" title="Master style" charset="utf-8">
        <title>Mon App</title>
    </head>
    <body ng-controller="MainController as main">
        <container>
            <nav>
                <ul>
                    <li>Add repository</li>
                </ul>
            </nav>
            <section>
                <ul>
                    <li ng-repeat="item in repository track by $index">{{item.name}}</li>
                </ul>
            </section>
        </container>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-touch.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>
