* {
    margin: 0;
    padding: 0;
}

container {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
    container > nav {
        height: 60px;
        background: #263238;
        display: flex;
    }
        container > nav > ul {
            display: flex;
            height: inherit;
            align-items: center;
            flex-grow: 1;
        }
            container > nav > ul li {
                height: 40px;
                border: 1px solid #0288D1;
                background: #01579B;
                margin-left: 10px;
                color: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
            }

    container > section {
        flex-grow: 1;
        margin-top: 10px;
        display: flex;
        padding: 10px;
        background: #37474F;
        border: 1px solid #263238;
    }
        container > section > ul {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;
        }
            container > section > ul li {
                height: 50px;
                background: #455A64;
                border: 1px solid #607D8B;
                color: #FFF;
                display: flex;
                align-items: center;
                padding: 0 10px;
            }
            container > section > ul li + li {
                margin-top: 10px;
            }
